/* OVERALL FLEX COMPONENTS */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header, 
.hero, 
.info,
.quote,
.quote-content,  
.form,
.form-content, 
.footer,
.navbar,
.info-grp {
    display: flex;
    flex-wrap: wrap;
}

.info,
.quote,
.quote-content {
    flex-direction: column;
}

/* HEADER STRUCTURE */
.header {
    padding: 10px;
    justify-content: space-around;
}

.navbar {
    padding: 0;
    list-style: none;
    column-gap: 20px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

/* HERO STRUCTURE */
.hero {
    justify-content: center;
    padding: 20px;
}

.message {
    width: 30%;
}

.hero > img {
    width: 30%;
    height: auto;
}

.hero > .message > button {
    border: 0;
}

button {
    padding: 5px 10px;
}

/* INFO STRUCTURE */
.info {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.info-grp {
    justify-content: space-evenly;
}

.group {
    width: 20%;
}

.group > img {
    max-width: 100%;
}

/* QUOTE STRUCTURE */
.quote {
    align-items:center;
    justify-content: center;
    padding: 50px 0;
}

.quote-content {
    width: 45%;
}

.quotation,
.speaker {
    margin: 0;
}

.speaker {
    margin-left: auto;
    font-weight: bold;
}

/* FORM STRUCTURE */
.form {
    align-items:center;
    justify-content: center;
    padding: 100px 0;
}

.form-content {
    width: 70%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.form-content > button {
    height: fit-content;
}

/* FOOTER STRUCTURE */
.footer {
    align-items:center;
    justify-content: center;
}

/* STYLING */
.hero,
.header,
.footer {
    background-color: #1F2937;
}

.hero > .message > h1 {
    font-size: 48px ;
    font-weight: extra-bold;
    color:  #F9FAF8;
}

.hero > .message > p {
    font-size: 18px ;
    color:  #E5E7EB;
}

.header > .logo-img{
    font-size: 24px;
    color:  #F9FAF8;
}

ul > li > a {
    color: #E5E7EB;
}

button,
.form-content {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
}

.form-msg * {
    margin: 0;
}

.form-msg > p {
    font-size: 10px;
}

.call-btn {
    border: 1px solid white;
}

.info > h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.footer {
    color:  #E5E7EB;
    font-size: 8px;
}